.navbar {
  top: 0;
  left: 0;
  width: 100%;
  font-size: 30px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  border-bottom: 1px solid;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  background-color: $theme;
  color: white;
}

.navbar ul {
  display: inline-block;
  list-style-type: none;
}

.navbar li {
  display: inline-block;
  border-bottom: none;
}

.navbar a {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-decoration: none;
  color: white;
}

.navbar a:hover {
  color: black;
  background: white;
  border-radius: 0.1rem;
}
